@media (min-width: 992px) {
    .container-all{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        margin: auto ;
        background-color: #ffffff;
        padding: 1rem;
        border-radius: 8px;
        max-width: 1292px;
    }
}