.error-modal{
    width: 80%;
    /* height: 100px; */
    background-color: #ffffff;
    padding: 2rem;
    text-align: center;
    position: fixed;
    z-index: 1000;
    top: 30%;
    left: 10%;
    animation: popup 0.1s ease-in;
}

.error--button{
    display: flex;
    justify-content: flex-end;
}

.error--button button{
    background-color: rgb(124, 189, 246);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
}

@media (min-width: 992px){
    .error-modal{
        width: 40%;
        /* height: 100px; */
        background-color: #ffffff;
        padding: 2rem;
        text-align: center;
        position: fixed;
        z-index: 1000;
        top: 30%;
        left: 30%;
        animation: popup 0.1s ease-in;
    }
}

@keyframes popup{
    0%{
       transform: scale(0);
    }

    50%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1);
    }
}