.nav-top{
    background: url("../assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    position: relative;
}

.nav-top a{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    color: #fff;
    text-decoration: none;
}

.nav-top a.active{
    background-color: rgb(124, 189, 246);
    color: rgb(5, 21, 141);
}

.bottom--margin{
    margin-bottom: 420px;
}

.desktop-nav{
    display: none;
}

@media (min-width: 992px){
    .nav-top{
        display: none;
    }

    .desktop-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: url("../assets/images/bg-sidebar-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 30%;
        height: 700px;   
        border-radius: 8px;
    }

    .desktop-nav li{
        display: flex;
        align-items: center;
    }

    .desktop--step{
        margin-left: 1rem;
        color: white;
    }

    .desktop--steps{
        color: rgb(173, 177, 180);
        margin-bottom: -0.7rem;
    }

    a{
        border: 1px solid #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        color: #fff;
        text-decoration: none;
    }

    a.active{
        background-color: rgb(124, 189, 246);
        color: rgb(5, 21, 141);
        border: none;
    }
}