.step-three{
    background-color: white;
    box-shadow: 0px 10px 5px rgba(223, 220, 220, 0.5);
    width: 90%;
    border-radius: 0.5rem;
    position: absolute;
    z-index: 10;
    top: 18%;
    left: 5%;
    padding: 2rem;
}

.first--checkbox{
    margin: 1rem 0;
}

.first--checkbox button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 2px solid rgba(223, 220, 220, 0.5);
}

.checkbox--value{
    display: flex;
}

.checkbox--value input{
    margin-right: 1rem;
    width: 20px;
    color: red;
}

.checkbox--option{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.checkbox--option p:first-of-type{
    margin-bottom: -0.5rem;
    color: rgb(5, 21, 141);
    font-weight: bold;
}

#btn-focus{
    border: 1px solid rgb(5, 21, 141);
    background-color: aliceblue
}

.desktop-three{
    display: none;
}

@media (min-width: 992px) {
    .step-footer{
        display: none;
    }

    .footer--step{
        display: none;
    }

    .step-three{
        display: none;
    }

    .step3-container{
        width: 70%;
        padding: 1rem 5rem;
    }

    .desktop-three{
        display: block;
    }

    .first--checkbox button{
        height: 100px;
    }
}