.step-one{
    background-color: white;
    box-shadow: 0px 10px 5px rgba(223, 220, 220, 0.5);
    width: 90%;
    border-radius: 0.5rem;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 5%;
    padding: 2rem;
}

.step--text h2{
    margin-bottom: 0;
    color: rgb(5, 21, 141);
}

.step--text p{
    margin-top: 0.7rem;
    color: rgb(179, 167, 167);
}

.input-div{
    margin-top: 1rem;
    width: 100%;
}

.input-div label{
    color: rgb(5, 21, 141);
}

.input-div input{
    width: 100%;
    /* max-width: 400px; */
    height: 30px;
    border-radius: 0.2rem;
    border: 1px solid rgb(198, 193, 193);
    text-indent: 1.3rem;
}

.error-text{
    color: red;
    font-size: 0.7rem;
    margin: 0 1rem;
}

.error--state{
    border: 2px solid red;
    background-color: rgba(249, 3, 3, 0.1);
    outline: none;
}

::placeholder{
    color: rgb(198, 193, 193);
    font-weight: bold;
}

@media (min-height: 800px) {
    .step-one{
        background-color: white;
        box-shadow: 0px 10px 5px rgba(223, 220, 220, 0.5);
        width: 90%;
        border-radius: 0.5rem;
        position: absolute;
        z-index: 10;
        top: 20%;
        left: 5%;
        padding: 2rem;
    }
}

.desktop-one{
    display: none;
}

@media (min-width: 992px) {
    .desktop-one{
        display: block;
        width: 70%;
        padding: 3rem 6rem;
    }

    .step-one{
        display: none;
    }

    .step-footer{
        display: none;
    }

    .footer--step{
        display: none;
    }

    .step--text{
        margin-bottom: 3rem;
    }

    .input-div{
        margin-bottom: 2rem;
    }

    .input-div label{
        color: rgb(5, 21, 141);
        margin-bottom: 40rem;
    }

    .input-div input{
        margin-top: 0.5rem;
        height: 50px;
    }

    .desktop-footer{
        display: flex;
        justify-content: flex-end;
        margin-top: 10rem;
    }

    .error--state{
        border: 2px solid red;
        background-color: rgba(249, 3, 3, 0.1);
        outline: none;
    }

    .desktop-footer button{
        padding: 1rem;
    }
}