@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.step-footer{
    width: 100%;
    background-color: white;
    padding: 0.7rem;
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    display: none;
    font-family: 'Ubuntu', sans-serif;
}

.footer--step{
    width: 100%;
    background-color: white;
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    display: none;
}

.step-footer button{
    padding: 0.6rem 0.8rem;
    background-color: rgb(5, 21, 141);
    color: white;
    border-radius: 0.3rem;
    border: none;
    font-size: 1rem;
}

.next--btn{
    padding: 0.5rem;
    background-color: rgb(5, 21, 141);
    color: white;
    border-radius: 0.3rem;
    border:  none;
}

.back--btn{
    padding: 0.5rem;
    background-color: white;
    color: rgb(163, 157, 157);
    font-weight: bold;
    border-radius: 0.3rem;
    border:  none;
}

.static--footer{
    position: static;
    margin-top: 500px;
}

@media (min-height: 700px) {
    .step-footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 0.7rem;
        display: flex;
        justify-content: end;
    }
    
    .footer--step{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 0.7rem;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 992px){
    .step-footer{
        display: none;
    }

    .footer--step{
        display: none;
    }
}